@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 17% 98%; /* #F8F9FA */
    --foreground: 0 0% 7%; /* #121212 */
    
    --card: 0 0% 100%;
    --card-foreground: 0 0% 7%;
    
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 7%;
    
    --primary: 233 37% 17%; /* #1B1F3B */
    --primary-foreground: 210 17% 98%;
    
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 240 5.9% 10%;
    
    --accent: 171 100% 37%; /* #00BFA6 */
    --accent-foreground: 210 17% 98%;
    
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 171 100% 37%;
    
    --radius: 0.5rem;
  }

  .dark {
    --background: 233 37% 12%; /* Darker version of primary */
    --foreground: 210 17% 98%;
    
    --card: 233 37% 15%;
    --card-foreground: 210 17% 98%;
    
    --popover: 233 37% 15%;
    --popover-foreground: 210 17% 98%;
    
    --primary: 210 17% 98%;
    --primary-foreground: 233 37% 17%;
    
    --secondary: 233 37% 17%;
    --secondary-foreground: 0 0% 98%;
    
    --muted: 233 37% 17%;
    --muted-foreground: 0 0% 63.9%;
    
    --accent: 171 100% 37%; /* #00BFA6 */
    --accent-foreground: 0 0% 7%;
    
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    
    --border: 233 37% 25%;
    --input: 233 37% 25%;
    --ring: 171 100% 37%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    scroll-behavior: smooth;
  }
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
